@import "settings"
@import "mixin"
div[target="_blank"],
img[alt="www.000webhost.com"]
  display: none !important

.container
  width: 100%
  max-width: calc(1440px + 40px)
  margin: 0 auto
  padding: 0 20px

.container-sm
  width: 100%
  max-width: calc(1216px + 40px)
  margin: 0 auto
  padding: 0 20px

.title
  font-family: $montserratBold
  font-style: normal
  font-weight: normal
  line-height: 47px
  font-size: 34px
  color: $blueDarkColor

.plugin
  width: 100%
  min-height: 313px
  display: flex
  flex-wrap: wrap
  padding: 80px 0 95px 0

  span
    margin: auto


.fancybox-nav
  background: 0 0 !important
  bottom: -80px
  top: initial
  width: 35px
  height: 35px
  display: block !important

  span
    visibility: visible
    background: $whiteColor
    position: relative
    display: inline-flex
    align-items: center
    justify-content: center

  &.fancybox-prev,
  &.fancybox-next
    background: initial

  &.fancybox-prev
    left: 50%

    span
      &:after
        font-family: "Icons"
        content: '\E00A'
        color: $blackColor

  &.fancybox-next
    right: 50%

    span
      &:after
        font-family: "Icons"
        content: '\E005'
        color: $blackColor

.fancybox-lock .fancybox-overlay,
.fancybox-overlay.fancybox-overlay-fixed,
.fancybox-overlay
  background: rgba(0, 0, 0, .6) !important
  overflow: auto
  left: 0
  right: 0
  top: 0
  bottom: 0
  width: 100% !important
  height: 100% !important
